{% extends "network/layout.html" %}

{% block body %}
{% if user.is_authenticated %}
{% csrf_token %}
<input type="hidden" id="this-route" value="{% url 'index' %}">

<h1 class="page-title">All Posts</h1>
{% if show_new %}
<div class="center-container">
    <h2>New Post</h2>
    <form id="new-post-form">
        <textarea id="new-post" ></textarea>
        <div><input type="submit" class="btn btn-primary" /></div>
    </form>
</div>
{% endif %} {# show_new #}
<div class="center-container">
{% if page_obj.has_previous or page_obj.has_next %}
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
            {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="{% url 'index' page_obj.previous_page_number %}{% if page_obj.previous_page_number != 1 %}?latest={{ latest }}{% endif %}">Previous</a></li>
            {% else %}
            <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a></li>
            {% endif %} {# if page_obj.has_previous #}

            {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="{% url 'index' page_obj.next_page_number %}?latest={{ latest }}">Next</a></li>
            {% else %}
            <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a></li>
            {% endif %} {# if page_obj.has_next #}
            </ul>
    </nav>
{% endif %} {# if page_obj.has_previous or page_obj.has_next #}

{% for post in page_obj %}
<div class="post">
    <a href>{{ post.user }}</a><br/><span class="timestamp" data-timezone="utc">{{ post.timestamp_utc }}</span><br/>{{ post.body|linebreaks }}
</div>
{% endfor %}


</div>


{% endif %}
{% endblock %}