{% extends "network/layout.html" %}

{% block body %}
{% csrf_token %}
<input type="hidden" id="this-route" value="{{this_route}}">

<h1 class="page-title">{{page_title}}</h1>

{% if show_new %}
<div class="center-container">
    <h2>New Post</h2>
    <form id="new-post-form">
        <textarea id="new-post" ></textarea>
        <div><input type="submit" class="btn btn-primary" /></div>
    </form>
</div>
{% endif %} {# show_new #}

{% if show_user %}
<div class="center-container">
    Followers: {{followers}}<br/>
    Following: {{following}}<br/>
    {% if can_follow %}
    <form id="toggle-follow-form" action="/follow/user/{{viewed_user}}" method="post">
        {% csrf_token %}
        {% if is_following %}
        <input type="submit" class="btn btn-primary" value="Unfollow" />
        {% else %}
        <input type="submit" class="btn btn-primary" value="Follow"/>
        {% endif %}
    </form>
    {% endif %}

</div>
{% endif %} {# show_user #}

<div class="center-container">
{% if page_obj.has_previous or page_obj.has_next %}
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
            {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="/{{this_route}}/{{page_obj.previous_page_number}}{% if page_obj.previous_page_number != 1 %}?latest={{ latest }}{% endif %}">Previous</a></li>
            {% else %}
            <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a></li>
            {% endif %} {# if page_obj.has_previous #}

            {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="/{{this_route}}/{{page_obj.next_page_number}}?latest={{ latest }}">Next</a></li>
            {% else %}
            <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a></li>
            {% endif %} {# if page_obj.has_next #}
            </ul>
    </nav>
{% endif %} {# if page_obj.has_previous or page_obj.has_next #}

{% for post in page_obj %}
<div class="post">
    <a href="{% url 'user' post.user %}">{{ post.user }}</a><br/>
    <span class="timestamp" data-timezone="utc">{{ post.timestamp_utc }}</span><br/>
    <span style="white-space: pre-wrap;" id="post-content-{{post.id}}">{{ post.body }}</span><br/>
    <a href class="like-button" data-post-id="{{post.id}}">❤️ <span id="like-count-{{post.id}}">{{post.n_likes}}</span><a href>
    {% if post.user == user %}
        <a href class="edit-button" id="edit-btn-{{post.id}}" data-post-id="{{post.id}}">Edit</a>
    {% endif %}
</div>
{% endfor %}


</div>

{% endblock %}