body {
    padding: 10px;
}

.price {
    font-weight: bold;
}

.listing-item {
    display: inline-block;
}

.listing-item > div {
    display: inline-block;
    max-width: 500px;
}

.listing-item > div > img {
height: 100%; width: 100%; display:block;
}

#watching-btn-active {
    background-color: #3e8e41;
    color: white;
    border: 2px solid white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 25px;
}

#watching-btn-inactive {
    background-color: white;
    color: #333;
    border: 2px solid #333;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    margin-bottom: 25px;
}

.comment_container {
    background-color: lightgray;
    margin: 6px;
}

.comment_author {
    font-weight: bold;
}

#new-listing-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#new-listing-form > p {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
  }
  
#create-listing-btn-container {
    display: flex;
    justify-content: flex-end;
    width: 30%;
}

#new-listing-form > p > label {
    text-align: right;
    margin-right: 10px;
    width: 30%;
  }

  #new-listing-form > p > input {
    width: 40%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

#price-container {
    margin: 40px 0px;
}

#new-comment-area {
    width: 100%;
}

#new-comment-button {
    margin: 0px 0px 20px 0px;
}