body {
    padding: 10px;
}

.price {
    font-weight: bold;
}

.listing-item {
    display: inline-block;
}

.listing-item > div {
    display: inline-block;
    max-width: 500px;
}

.listing-item > div > img {
height: 100%; width: 100%; display:block;
}

#watching-btn-active {
    color: gray;
    background-color: white;
    box-shadow: inset 0 1px 3px rgba(255,255,255,0.2);
}

#watching-btn-inactive {
    color: gray;
    background-color: darkgray;
    box-shadow: none;
}