* {
    /* Default text style */
    font-family: arial, sans-serif;
}

#top_row {
    /* Position to the right corner */
    position:absolute;
    top:4px;
    right:16px;
}

#top_row * {
    /* Styling all descendants to top_row */
    margin: 5px;
    float: left;
    font-size:14px;
}

a:link {
    /* No underline on links */
    text-decoration: none;
}

#searchplace {
    /* Place the search bar in the middle of page */
    position: absolute; /* Relative to ancestor, or viewport */
    top:  50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

#search_img_container {
    /* Enable positioning of #images_text */
    position: relative;
}

#images_text {
    position:absolute;
    bottom: 5px;
    left: 221px;
    color: #4285f4;
}

#search_img {
    height:92px;
}

#search_text_field {
    border-radius: 20px;
    margin: 30px;
    height:32px;
    padding-left:15px;
    width:600px;
    font-size:14px;
    border: 1px solid;
    border-color: lightgray;
}

#search_text_field:hover, #search_text_field:active, #search_text_field:focus-visible {
    box-shadow: 0 0 6px gray;
    outline:none;
}

.buttons {
    width: fit-content;
    border-width: 0px;
    padding: 10px;
    margin: 0 5px;
    background-color: #f8f9fa;
    color: #3c4043;
    font-size:14px;
}

.buttons:hover  {
    box-shadow: 0 0 6px gray;
}

hr {
    /* Make horizontal line gray */
    border: 0.5px solid rgb(233, 233, 233);
}

#advanced_search_provider_logo {
    margin-top: 14px;
    margin-left: 12px;
}

.advsearch_container {
    /* In here all the advanced search stuff are. Make sure they are adjusted left */
    position: relative;
    margin-top:40px;
    margin-left:40px;
    color:#333;
}

.advsearch_container > p {
    /* Each label/field row */
    font-size:14px;
}

#adv_search_title {
    color:#d93025;
    font-size:20px;
}

form.advsearch_container {
    display: table;
    border-spacing: 0 20px;
}

form.advsearch_container > p {
    display: table-row;
}

form.advsearch_container > p > label {
    display: table-cell;
}

form.advsearch_container > p > input { 
    display: table-cell; 
}

.advsearch_input {
    margin-left: 10px;
    padding-left: 5px;
    height: 28px;
    width: 400px;
    border-width: 1px;
}

.advsearch_input:hover, .advsearch_input:active, .advsearch_input:focus-visible {
    box-shadow: inset 0 1px 2px rgba(0,0,0,.3);
    border-color:#4d90fe;
    outline:none;
}

#advserach_btn {
    position: absolute;
    right:0px;
    height: 30px;
    min-width: 120px;
    padding: 0 12px;
    border: 1px solid #3079ed;
    color: #fff;
    background-color: #4d90fe;
    margin: 10px 0;
    font-weight: bold;
    font-size: 11px;
}

#advserach_btn:hover, #advserach_btn:active, #advserach_btn:focus-visible {
    background-color: #357ae8;
}