{% extends "app/layout.html" %}
{% block body %}


<div class="chat-page">

    <div class="chat-conversations">
        <h2>Conversations</h2>
        <div class="chat-conversation-profile"><img class=chat-conv-profile-pic height="50px" width="50px" src="media/images/test_faces/tpdne%20(2).jpg">Emily</div>
        <div class="chat-conversation-profile"><img class=chat-conv-profile-pic height="50px" width="50px" src="media/images/test_faces/tpdne%20(1).jpg">Serena  </div>
        <div class="chat-conversation-profile"><img class=chat-conv-profile-pic height="50px" width="50px" src="media/images/test_faces/tpdne%20(3).jpg">Jasper</div>
        <div class="chat-conversation-profile"><img class=chat-conv-profile-pic height="50px" width="50px" src="media/images/test_faces/tpdne%20(4).jpg">Isabella</div>
        <div class="chat-conversation-profile"><img class=chat-conv-profile-pic height="50px" width="50px" src="media/images/test_faces/tpdne%20(5).jpg">Oliver</div>
        <div class="chat-conversation-profile"><img class=chat-conv-profile-pic height="50px" width="50px" src="media/images/test_faces/tpdne%20(6).jpg">Luna</div>
        <div class="chat-conversation-profile"><img class=chat-conv-profile-pic height="50px" width="50px" src="media/images/test_faces/tpdne%20(7).jpg">Xavier</div>
        <div class="chat-conversation-profile"><img class=chat-conv-profile-pic height="50px" width="50px" src="media/images/test_faces/tpdne%20(8).jpg">Ava</div>
        <div class="chat-conversation-profile"><img class=chat-conv-profile-pic height="50px" width="50px" src="media/images/test_faces/tpdne%20(9).jpg">Leo</div>
        <div class="chat-conversation-profile"><img class=chat-conv-profile-pic height="50px" width="50px" src="media/images/test_faces/tpdne%20(10).jpg">Evelyn</div>
        <div class="chat-conversation-profile"><img class=chat-conv-profile-pic height="50px" width="50px" src="media/images/test_faces/tpdne%20(11).jpg">Felix</div>
        <div class="chat-conversation-profile"><img class=chat-conv-profile-pic height="50px" width="50px" src="media/images/test_faces/tpdne%20(12).jpg">Mia</div>
        <div class="chat-conversation-profile"><img class=chat-conv-profile-pic height="50px" width="50px" src="media/images/test_faces/tpdne%20(2).jpg">Emily</div>
        <div class="chat-conversation-profile"><img class=chat-conv-profile-pic height="50px" width="50px" src="media/images/test_faces/tpdne%20(1).jpg">Serena  </div>
        <div class="chat-conversation-profile"><img class=chat-conv-profile-pic height="50px" width="50px" src="media/images/test_faces/tpdne%20(3).jpg">Jasper</div>
        <div class="chat-conversation-profile"><img class=chat-conv-profile-pic height="50px" width="50px" src="media/images/test_faces/tpdne%20(4).jpg">Isabella</div>
        <div class="chat-conversation-profile"><img class=chat-conv-profile-pic height="50px" width="50px" src="media/images/test_faces/tpdne%20(5).jpg">Oliver</div>
        <div class="chat-conversation-profile"><img class=chat-conv-profile-pic height="50px" width="50px" src="media/images/test_faces/tpdne%20(6).jpg">Luna</div>
        <div class="chat-conversation-profile"><img class=chat-conv-profile-pic height="50px" width="50px" src="media/images/test_faces/tpdne%20(7).jpg">Xavier</div>
        <div class="chat-conversation-profile"><img class=chat-conv-profile-pic height="50px" width="50px" src="media/images/test_faces/tpdne%20(8).jpg">Ava</div>
        <div class="chat-conversation-profile"><img class=chat-conv-profile-pic height="50px" width="50px" src="media/images/test_faces/tpdne%20(9).jpg">Leo</div>
        <div class="chat-conversation-profile"><img class=chat-conv-profile-pic height="50px" width="50px" src="media/images/test_faces/tpdne%20(10).jpg">Evelyn</div>
        <div class="chat-conversation-profile"><img class=chat-conv-profile-pic height="50px" width="50px" src="media/images/test_faces/tpdne%20(11).jpg">FelixMichaelCeraExtremelyLongName</div>
        <div class="chat-conversation-profile"><img class=chat-conv-profile-pic height="50px" width="50px" src="media/images/test_faces/tpdne%20(12).jpg">Mia</div>
    </div>

    <div class="chat-conversation-area">

        <h1>Emily</h1>

        <div id=messages>
            <div class=my-message-container>
            <div class=my-message>
                My message
            </div>
            </div>
            <div class=their-message-container>
            <div class=their-message>
                Their Message
            </div>
            </div>
            <div class=my-message-container>
            <div class=my-message>
                My message, a very long one. When will it end? I wonder if it will span over multiple lines? :)
            </div>
            </div>
            <div class=their-message-container>
            <div class=their-message>
                Their message, a very long one. When will it end? I wonder if it will span over multiple lines, especially if I make it even longer :)
            </div>
            </div>
            <div class=my-message-container>
            <div class=my-message>
                My message
            </div>
            </div>
            <div class=their-message-container>
            <div class=their-message>
                Their Message
            </div>
            </div>
            <div class=my-message-container>
            <div class=my-message>
                My message, a very long one. When will it end? I wonder if it will span over multiple lines? :)
            </div>
            </div>
            <div class=their-message-container>
            <div class=their-message>
                Their message, a very long one. When will it end? I wonder if it will span over multiple lines, especially if I make it even longer :)
            </div>
            </div>
            <div class=my-message-container>
            <div class=my-message>
                My message
            </div>
            </div>
            <div class=their-message-container>
            <div class=their-message>
                Their Message
            </div>
            </div>
            <div class=my-message-container>
            <div class=my-message>
                My message, a very long one. When will it end? I wonder if it will span over multiple lines? :)
            </div>
            </div>
            <div class=their-message-container>
            <div class=their-message>
                Their message, a very long one. When will it end? I wonder if it will span over multiple lines, especially if I make it even longer :)
            </div>
            </div>
            <div class=my-message-container>
            <div class=my-message>
                My message
            </div>
            </div>
            <div class=their-message-container>
            <div class=their-message>
                Their Message
            </div>
            </div>
            <div class=my-message-container>
            <div class=my-message>
                My message, a very long one. When will it end? I wonder if it will span over multiple lines? :)
            </div>
            </div>
            <div class=their-message-container>
            <div class=their-message>
                Their message, a very long one. When will it end? I wonder if it will span over multiple lines, especially if I make it even longer :)
            </div>
            </div>
        </div>

        <div class=message-writing>
            <textarea class="new-message" name="text" oninput='this.style.minheight = "";this.style.height = Math.max(this.scrollHeight + 3) + "px"'></textarea><button>Send</button>
        </div>

    </div>


</div>





{% endblock %}