{% extends "app/layout.html" %}
{% block body %}
<div class="app-container">


<div class="chat-page">

    <div class="chat-conversations">
        <h2>Conversations</h2>
        <div id="chat-conversations-all">
            <!-- <div class="chat-conversation-profile"><img class=chat-conv-profile-pic src="media/images/test_faces/tpdne%20(2).jpg">Emily</div> -->
        </div>
    </div>

    <div class="chat-conversation-area">

        <div class="chat-title-row">
            <h1 id="current_conv_name">Conversation</h1><button id="block-button">Block</button>
        </div>

        <div id=messages>
            <div class=my-message-container>
                <!-- <div class=my-message>
                    My message, a very long one. When will it end? I wonder if it will span over multiple lines? :)
                </div>
                </div>
                <div class=their-message-container>
                <div class=their-message>
                    Their message, a very long one. When will it end? I wonder if it will span over multiple lines, especially if I make it even longer :)
                </div> -->
            </div>
        </div>

        <div class=message-writing>
            <textarea id="new-message" name="text" oninput="update_new_msg_height()"></textarea><button>Send</button>
        </div>

    </div>


</div>

<script src="/static/app/chat.js"></script>

</div>

{% endblock %}