{% extends "app/layout.html" %}
{% block body %}

<img id="logo" src="/static/app/images/logo.png">
<h1 id=match-welcome-text>
    Loading
</h1>
<br><br>
<div class="card-container">
    <div class="card empty-card" id="card1">
        <h2>Please Wait</h2>
    </div>
    <div class="card empty-card" id="card2">
        <h2>Please Wait</h2>
    </div>
    <div class="card empty-card" id="card3">
        <h2>Please Wait</h2>
    </div>
    <div class="card empty-card" id="card4">
        <h2>Please Wait</h2>
    </div>
</div>

<script src="/static/app/match.js"></script>

{% endblock %}