{% extends "app/layout.html" %}
{% block body %}
<div class="app-container-centered">

<h1>My Profile</h1>
<div id="edit-profile-message">{{message}}</div>

<div id="profile-forms-container">

<p>
<img src="{{profile.picture.url}}" width=210px> <!-- Forms that cannot be edited -->
<form action="{% url 'upload_picture' %}" method="post" enctype="multipart/form-data">
  <label for="file">Choose Picture:</label>
  <input id="file" name="file" type="file" />
  {% csrf_token %}
  <button>Upload</button>
</form>
</p>

<form>
  <label for="name">Name:</label>
  <input type="text" id="name" disabled placeholder="{{name}}">

  <label for="gender">Gender:</label>
  <input type="text" id="gender" disabled placeholder="{{gender}}">

</form>

<form id="edit-profile-form">

    <label for="into_men"><input type="checkbox" id="into_men" name="into_men" {% if profile.into_men %}checked{% endif %}>Interested in Men</label>
    <label for="into_women"><input type="checkbox" id="into_women" name="into_women" {% if profile.into_women %}checked{% endif %}>Interested in Women</label>
    <label for="into_nb"><input type="checkbox" id="into_nb" name="into_nb" {% if profile.into_nb %}checked{% endif %}>Interested in Other</label>
    

  <label for="bio">Bio</label>
  <textarea name="bio" cols="40" rows="10" required id="bio" maxlength="300">{{ profile.bio|escape }}</textarea>

    <label for="city-filter">Filter Cities</label>
    <input type="text" id="city-filter" name="city-filter">

  <div id="cities-radios">
    <label for="city_{{ profile.location }}"><input type="radio" name="city" id="city_{{ profile.location }}" value="{{ profile.location }}" checked />{{ location_str }}</label>
  </div>


  <div id="edit-profile-btn-container"><button type="submit" >Save</button></div>
  </form>
</div>
  <script src="/static/app/profile.js"></script>

</div>
{% endblock %}