{% extends "app/login_layout.html" %}
{% block body %}

    <h2>Register</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" type="email" name="email" placeholder="Email Address">
        </div>
        <div class="form-group">
        <input class="form-control" type="text" name="firstname" placeholder="First Name">
        </div>
        <div class="form-group">
        <input class="form-control" type="text" name="lastname" placeholder="Last Name">
        </div>
        <div class="form-group">
            <select class="form-control" name="gender">
                <option value="Invalid">Select Gender</option>
                <option value="W">Woman</option>
                <option value="M">Man</option>
                <option value="O">Other</option>
            </select>
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password">
        </div>
        <input class="btn btn-primary" type="submit" value="Register">
    </form>

    Already have an account? <a href="{% url 'login' %}">Log In here.</a>

{% endblock %}