html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.banner {
    background-color: #ff70ba; /* Choose your desired background color */
    padding: 10px;
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
}

#profile-forms-container label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

#cities-radios {
    width: 600px
}

@media screen and (max-width: 1000px) {
    #cities-radios {
        width: 90%; /* Switch to a single column on smaller screens */
    }
}



#profile-forms-container input[type="checkbox"], input[type="radio"] {
    margin-right: 8px;
}


#profile-forms-container {
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.button-container a {
    margin-left: 5%;
    margin-right: 5%;
}

.app-container {
    flex: 1 1 auto; /* Grow, shrink, basis */
    display: flex;
    flex-direction: column;
    align-items: center; /* Todo I don't like this  */
    overflow: auto;
}


.card-container {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

#logo {
    max-width: 300px;
}

.card {
    box-sizing: border-box;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: calc(25% - 20px); /* Four cards in a row */
    max-width: 300px;
    text-align: center;
    transition: transform 0.1s;
}

.empty-card {
    color: #e3e3e3;
    transform: scale(1);
    overflow: hidden;
}

.clicked-card {
    background-color: #e4aaff;
}

.empty-card::before {
content: '';
position: absolute;
top: 50%;
left: 0;
right: 0;
border-top: 2px solid #ccc; /* Adjust thickness and color as needed */
transform: translateY(-50%) rotate(-45deg);
z-index: -1;
}

@media screen and (max-width: 1000px) {
    .card {
        width: 80%; /* Switch to a single column on smaller screens */
        max-width: none;
    }
}

.card:hover {
    transform: scale(1.05);
}

.card > img {
    max-width: 100%; /* Make the image responsive within the div */
    max-height: 100%; /* Ensure the image doesn't exceed the div height */
}

.profile-name 
{
    white-space: nowrap; /* Prevent names from going over two lines */
}



.chat-page {
    flex: 1 1 auto; /* Grow, shrink, basis */
    display: flex;
    align-items: stretch;
    position: relative;
    height: 100%;
}


.my-message-container, .their-message-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.my-message-container {
    justify-content: left;
}

.their-message-container {
    justify-content: right;
}

.my-message, .their-message {
    width: fit-content;
    height: fit-content;
    padding: 10px;
    margin: 8px;
    border-radius: 10px;
    max-width: 75%;
}

.my-message {
    background-color: rgb(75, 158, 253);
}

button {
    background-color: rgb(75, 158, 253);
    color: yellow;
}

.their-message {
    background-color: rgb(127, 255, 249);

}


.chat-conversation-profile {
    padding: 3px;
}
.chat-conv-profile-pic {
    padding-left: 1px;
    padding-right: 6px;
    box-sizing: content-box;
}

.chat-conversations {
    min-width: 200px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    overflow-x: hidden;
    box-sizing: border-box;
    max-width: 342;
}

@media screen and (max-width: 800px) {
.chat-conversations {
    min-width: initial;
    padding-right: 30px;
    max-width: 130px;
}
}

.chat-conversation-area {
    background-color: #e0e5ec;
    flex: 1;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

#messages {
    overflow-y: scroll;
}

.message-writing {
    display: flex;
}

.new-message {
    flex: 1;
}

.chat-title-row {
    display: flex;
    justify-content: space-between;
}

.chat-title-row > h1 {
    display: inline;
}

#block-button {
 background-color: red;
}